/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 29, 2021, 2:04:32 PM
    Author     : Sly Cheese
*/

/* Add some padding on document's body to prevent the content
    to go underneath the header and footer */
    body{        
        padding-top: 0px;
        padding-bottom: 40px;
    }
    .containerH{
        width: 40%;
        margin: 0 auto; /* Center the DIV horizontally */
    } 
    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;        
        background: #333;
        padding: 10px 0;
        color: #fff;
    }
    .fixed-header{
        top: 0;
    }
    .fixed-footer{
        bottom: 0;
    }    
    /* Some more styles to beutify this example */
    nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    }
    .container p{
        line-height: 200px; /* Create scrollbar to test positioning */
    } 

    
    
    
/*    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: yellow;
        width: 50px;
        padding: 10px;
        font-size: 20px;
}*/

    
    
    
 /* Homepage item box display    
    
    .box { 
	float: left;
	padding: 0 8px;
	width: 25%;
	height: 400px;
	text-align: center; 
	box-sizing: border-box;
}

    .box > div
{
	background-color: #aaa;
	height: 100%;
	line-height: 400px;
	font-size: 2rem;
	font-weight: bold;
}

 
    
------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.columnIndex {
  float: left;
  width: 20%;
  padding: 10px;
  height: 400px; /* Should be removed. Only for demonstration */
}

.column-Cart {
  float: left;
  width: 100%;
  padding: 10px;
  height: 300px;  
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.tm-gallery-img {
  margin-bottom: 20px;
}
  

.containerF{
        width: 40%;
        margin: 0 auto; /* Center the DIV horizontally */
        float: right;
}
.containerFr{
        width: 40%;
        margin: 0 auto; /* Center the DIV horizontally */
        float: left;
}

/* Add to cart button*/

button.btn {
    border: 0;
    padding: 8px 10px;
    font-size: 15px;
    background: #4b00ff;
    color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 25px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    outline: 0;
    transition: 0.3s linear;
}
button.btn:active {
    transform: scale(0.85);
    box-shadow: 3px 2px 25px 1px rgba(0,0,0,0.25);
}






/* Checkout page Style inputs with type="text", select elements and textareas 
input[type=text], select, textarea {
  width: 100%;  Full width 
  padding: 20px;  Some padding  
  border: 5px solid #ccc;  Gray border 
  border-radius: 4px;  Rounded borders 
  box-sizing: border-box;  Make sure that padding and width stays in place 
  margin-top: 6px;  Add a top margin 
  margin-bottom: 16px;  Bottom margin 
  resize: vertical  /*Allow the user to vertically resize the textarea (not horizontally) 
}

*/ Style the submit button with a specific background color etc /*
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

*/ When moving the mouse over the submit button, add a darker green color /*
input[type=submit]:hover {
  background-color: #45a049;
}

*/ Add a background color and some padding around the form /*
.containerr {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}*/

/*--------------------------------------------------------------------------------
View product table formats
*/


table {
  width:70%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}



